html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #0E1339;
    color: #6763BF;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    
}

.banner {
    display: flex;
    justify-self: center;
    max-width: 100%;
}

.header {
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    padding: 5px;
    font-family: 'Merriweather', serif;
}

main {
    display: flex;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    flex-wrap: wrap;
    
}


h3 {
    text-align: center;
}
    


.item {
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;   
}

.item img {
    display: flex;
    max-width: 100%;
    align-self: center;
    border-radius: 20px;
}

a {
    padding-top: 10px;
    color: #8E80BF
}

footer {
    margin-left: 25px;
}


@media (min-width: 768px) {
    .header {
        font-size: 3rem;
    }

    body {
        font-size: 1.5em;
    }
    main {
        
        flex-wrap: nowrap;
    }
}

@media (min-width: 1100px) {

    .examples {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .item {
        max-width: 40%;
        display: flex;
        
    }

    .item a {
        display: flex;
        justify-self: flex-end;
    }
}