html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}



body {    
    background: url('helens1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(2,3,2); 
    width: 100%;
    color: #6763BF;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 1px rgba(142,128,191,0.7);
    
    
}

.banner {
    display: flex;
    justify-self: flex-start;
    align-self: center;
    max-width: 100;
}

.banner img {
    max-width: 100%
}

.header {
    display: flex;
    font-size: 1.2em;
    justify-content: center;
    padding: 10px;
    font-family: 'Merriweather', serif;
    text-shadow: 1px 1px 1px rgb(142,128,191);
    
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;   
}


h3 {
    text-align: center;
}
    
.examples {
    background-image: linear-gradient(rgb(2,3,2),rgb(11,16,54));
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;   
}

.item img {
    display: flex;
    max-width: 100%;
    align-self: center;
    border-radius: 50px;
}

a {
    padding-top: 10px;
    color: #8E80BF
}

footer {
    margin: 25px;
    
}




@media (min-width: 768px) {
    .header {
        font-size: 3rem;
    }

    body {
        font-size: 1.5em;
        
    }
    main {
        
        flex-wrap: nowrap;
    }
}

@media (min-width: 1100px) {



    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .item {
        max-width: 40%;
        display: flex;
        
    }

    .item a {
        display: flex;
        justify-self: flex-end;
    }
}