{% load static %}
<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="../static/styles.css">

        <title>Camo Generator</title>

    </head>

    <body>

        <h1>Input any image and receive a camo pattern to blend in</h1>
        <p>Have you ever looked at a golden plover chick and thought to yourself, "wow, I sure wish I had 
        a cape that looks like moss"? No? Just me? Okay, have you ever wanted to wear clothing that helps you to blend in 
        in the woods without looking like you're LARPing as an army guy once you return to the city?
        Then upload an image of the place you want to go unnoticed, and I'll give you a pattern that
        you can take to a... like a cloth... mill? Is that how that works? Maybe you've got a friend
        with a loom and some sheep? Or maybe I'll monetize this whole shebang and you can buy yourself a sick tactical 
        miniskirt. I don't know, the future is a complicated mystery.</p>

        <div id="input">
            {% comment %} should I be using the home url for this or should I make a separate url for my camoize view? {% endcomment %}
            <form action = "/camoize" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                
                <button>Camo-ize!</button>
            </form>
        </div>

        

    </body>

</html>