{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>Chat Hub</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>

    <body>
        <header>
            <h1> Travis' Happy Skype Hub </h1>
        </header>
        <a href="{% url 'hub_app:travis' %}">Edit the Stuff (for Travises only)</a>
        <div class="container">
            {% for card in cards %}
                <div class = "card">
                    {{ card.text }}
                    {% for link in card.link_set.all %}
                        <a href='http://{{link.text}}'>{{link.text}}</a>
                    {% endfor %}
                </div>
            {% endfor %}

        </div>
    </body>

</html>