{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>Chat Hub</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>

    <body>
        <div class="container" id="container">
            {% for card in cards %}
                <div class = "card" id = "card{{card.id}}">
                    
                    {{ card.text }}
                    {% for link in card.link_set.all %}
                        <a href='http://{{link.text}}'>{{link.text}}</a>
                    {% endfor %}
                    <form action="{% url 'hub_app:edit_card' card.id %}" method="post">
                        {% csrf_token %}
                        <textarea class="text-field" name="card_text">{{card.text}}</textarea>
                        <input type="submit">
                    </form>
                   
                    
                    

                    <a href="{% url 'hub_app:delete_card' card.id %}">
                        <button>Nephew, Delete this</button>
                    </a>
                </div>
            {% endfor %}
        </div>

        

        <a href="{% url 'hub_app:add_card' %}">
            <button class = "created" id = "newCardButton">New Card</button>                
        </a>

        <script>
            
            const container = document.getElementById("container")
            let newCardButton = document.getElementById("newCardButton")
            container.addEventListener("click", function(event) {
                 
                    console.log(event.target)
                
            })                 
        </script>

        </body>

</html>