body {
    background-color: #BDBEBF;
    width: 100%;
    margin: 0px;
}

#layer1 {
    
    background-image: url('grass background.png');
    height: 100vh;
    /* visibility: hidden; */
    
    
}

main {
    display: flex;  
    
}

#interface {
    margin: 10px;
    color: #161408
    
}

#stat-input {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 5px;
    
}

h3 {
    margin: 5px
}

.question {
    max-height: 20px;
    margin-left: 5px;
    cursor:pointer;
}

.answer {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    margin: 5px;
    
}

.show {
    visibility: visible;
    
    
}

.close {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    
}

.data-row {
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
    margin: 3px;
}

#buttons {
    margin: 10px;
}

button {
    border-radius: 5px;
    border: 2px solid rgb(114, 114, 114);
    cursor:pointer;

}

p {
    margin: 10px;
}

footer {
    margin: 10px;
}
